<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h3>INSTRUCTIONS FOR PACKET INFORMATION HANDLING</h3>

    <hr>

    <ul>
        <li><b>SEARCH BY PACKAGE ID:</b> (add to main page) /packages/"packet_id"</li>
        <li><b>LIST ALL PACKAGES FOR A SPECIFIED METRIC:</b> (add to main page, example) /metrics?a=cpu_stats&b=memory_info (any metric from the supported metrics)</li>
        <li><b>LIST ALL PACKAGES:</b> (add to main page) /packages</li>
        <li><b>LIST ALL AVAILABLE METRICS:</b> (add to main page) /supported_metrics</li>

    </ul>

    <hr>

</body>
</html>